.dropdown-item {
    padding: 5px;
    border-bottom: 1px solid #ccc;
  }
  
  .dropdown-item-name {
    font-weight: bold;
  }
  
  .dropdown-item-details {
    font-size: 0.85em;
    color: #666;
  }

  .dropdown-full-width .p-dropdown-panel {
    width: auto !important;
    min-width: 100% !important;
    max-width: none !important;
    box-sizing: border-box;
}
