<p-toast position="top-right"></p-toast>
<p-confirmDialog></p-confirmDialog>
<app-page-header [heading]="'Expense Tracker'" [heading2]="'Expenses'" [buttonLabel]="'Expense'" (addClick)="onAddExpense($event)"
 [showActionButton]="userHasPermission('manage-stock')"
></app-page-header>

<div class="custom-page-container w-full flex justify-center">
    <div class="my-4 lg:px-8 mt-16 flex flex-col w-full justify-center">

        <app-expense-list [(displayDialog)]="showExpenseUpdateDialog"></app-expense-list>
    </div>
</div>